.TodoItem {
    background-color: #9090ddd3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0 0 30px #9090dd77;
    border-radius: 16px;
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #021e25;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
    color: #021e2577;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 30px;
    font-weight: bolder;
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
    font-size: 50px;
  }
  .Icon-check:hover{
    color: #61dafa;
    text-shadow: 0 0 10px #61dafa80;
  }

  .Icon-check--active, .Icon-check--active:hover {
    color: #021e2577;
  }
  
  .Icon-delete {
    position: absolute;
    background-color:  #001925;
    border-radius: 50%;
    line-height: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    rotate: 45deg;
  }
  .Icon-delete:hover {
    color: red;
  }