.TodoSearch {
  background: #9090dd;
  border-radius: 32px;
  border: none;
  margin: 0 auto;
  padding: 0 4%;
  height: 64px;
  width: calc(92% - 62px);
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1e1e1f;
  box-shadow: 0 0 50px #226cff40;
}

.TodoSearch::placeholder {
  color: #1e1e1f77;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #226cff;
  box-shadow: 0 0 25px #61dafa80;
}
