.Modalbg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #41256555;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}